<header class="header trans_300">
    <!-- Top Navigation -->
    <div class="top_nav">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="top_nav_left">Avec Proto-Box prototyper devient plus simple</div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="top_nav_right">
                        <ul class="top_nav_menu">
                            <!-- Currency / Language / My Account -->
                            <li class="account">
                                <a routerLink="/login">
                  My Account
                  <i class="fa fa-angle-down"></i>
                </a>
                                <ul class="account_selection">
                                    <li><a routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                                    <li><a routerLink="/register"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Navigation -->
    <div class="main_nav_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <div class="logo_container">
                        <a routerLink="/">proto-<span>box</span></a>
                    </div>
                    <app-navbar></app-navbar>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="row" id="ajouterBox">
    <div class="col-lg-12 get_in_touch_col">
        <div class="row">
            <div class="col-lg-4"><button id="AjouterCrud" type="submit" class="red_button message_submit_btn trans_300" value="submit" routerLink="/CrudCreateComponent">Ajouter</button>
            </div>
            <div class="col-lg-8">
                <h1>CRUD</h1>
            </div>
        </div>
        <div class="get_in_touch_contents">

            <!-- No data message -->
            <p *ngIf="Crudname.length <= 0" class="no-data text-center">There is no agent added yet!</p>
            <!-- agent list -->
            <table class="table table-bordered" *ngIf="Crudname.length > 0">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Employe ID</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Nom</th>
                        <th scope="col center">Edit</th>
                        <th scope="col center">Delete</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let crudname of Crudname; let i = index">
                        <th scope="row">{{crudname._id}}</th>
                        <td>{{crudname.prenom}}</td>
                        <td>{{crudname.nom}}</td>
                        <td class="text-center edit-block">
                            <span class="edit" [routerLink]="['/CrudEditComponent/', crudname._id]">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </span>
                        </td>
                        <td class="text-center edit-block">
                            <span class="delete" (click)="removeCrudname(crudname, i)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </span>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
    <div class="col-lg-2 get_in_touch_col">
    </div>
</div>