<div class="row">
    <div class="col">
        <!-- Breadcrumbs -->
        <div class="breadcrumbs d-flex flex-row align-items-center">

        </div>
    </div>
</div>
<!-- Map Container -->
<!-- Contact Us -->
<div class="row">
    <div class="col-lg-2 get_in_touch_col">
    </div>
    <div class="col-lg-12 get_in_touch_col">
        <div class="get_in_touch_contents">

            <div class="row justify-content-center">
                <div class="col-md-12 register-employee">
                    <h1>Modifier</h1>
                    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input class="form_input input_name input_ph" placeholder="email" type="email" name="email" formControlName="email">
                        </div>
                        <div>
                            <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="submit">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 get_in_touch_col">
    </div>
</div>