<nav class="navbar navbar-expand-lg navbar-dark bg-info text-white">
  <a class="navbar-brand" href="#">Proto-Box</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" routerLink="/nav">User</a></li>   
      <li class="nav-item active"><a class="nav-link" routerLink="/sendmail">From contact</a></li>   
    </ul>
    <span class="material-icons " routerLink="/login">
      power_settings_new
    </span>
  </div>
</nav>